* {
    margin: auto;
}

body {
    margin: auto;
}

.container {
    margin: 0 auto;
    width: 800px;
}

.control {
    float: left;
}

.row {
    margin: auto 10%;
}

.col {
    margin: 10px;
    float: left;
}